# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, macos-15, ubuntu-22.04, ubuntu-24.04, windows-2022, windows-2025 ]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Workflow restore
      run: dotnet workload restore android maui-android net9.0-android34.0 --project MauiContacts/MauiContacts.csproj
    - name: Workflow restore part 2, run only on Windows and macOS
      if: contains(matrix.os, 'macos') || contains(matrix.os, 'windows')
      run: dotnet workload restore net9.0-ios maui-ios net9.0-windows10.0.19041.0 net9.0-maccatalyst --project MauiContacts/MauiContacts.csproj
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
